.basic{
    background: white;
    border: 1px solid lightsteelblue;
    box-shadow: 2px 2px 2px lightsteelblue;
    color: lightsteelblue;
    border-radius: 10px;
    box-sizing: border-box;
}

.basic.btn{
    background: #0091C2;
    color: white;
    box-shadow: none;
    padding: 10px 5px;
    border-radius: 100px;
    cursor: pointer;
}

.basic .remover{
    border: none;
    background: #E1A18E;
    color: white;
    padding-bottom: 2px;
    border-radius: 100px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.basic.yearItem{
    margin-bottom: 15px;
}

.basic .companyList .remover{
    padding-bottom: 1px;
}

.basic .countryName{
    font-weight: bold;
}

table.basic{
    padding: 15px;
    border-collapse:collapse;
    border: none;
    overflow: hidden;
}

table.basic td{
    height: 60px;
    border-bottom: 1px solid lightsteelblue;
}

table.basic th{
    border-bottom: 1px solid lightsteelblue;
    height: 50px;
}

table.basic td input{
    height: 80%;
}

.basic.frame{
    width: 450px;
    height: 400px;
    overflow: hidden;
}

.item:hover, .flemingItem:hover{
    color: white;
    background-color: #0091C2;
}

.basic h2{
    font-size: 25px;
    margin-bottom: 20px;
    padding: 10px;
}

.basic ol{
    padding-left: 40px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
}

.basic ol li{
    margin-left: 10px;
}