@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    text-align: center;
    background: #0091C2;
}

section{
    background: #EFF0FF;
}

.categorie {
    width: 100%;
    background: white;
    color: #0091C2;
    height: 100px;
    line-height: 100%;
    box-shadow: 0 0 50px lightsteelblue;
}

#changeCategorie {
    width: 20%;
    background-color: #0091C2;
    float: right;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    cursor: pointer;
    color: white;
}

#categorieSpan {
    width: 80%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.view {
    padding: 50px 20px 20px 20px;
    min-width: 700px;
}

#changeView {
    cursor: pointer;
    background-color: #0091C2;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    border-radius: 50px;
    box-shadow: 0 2px 4px lightsteelblue;
}

#changeView .img-holder{
    height: 100%;
    background: url('../assets/img/arrow.png') no-repeat;
    background-size: 30px 30px;
    transform: rotate(90deg);
    background-position: 50% 60%; 
    
}
#changeView.viewPlot .img-holder{
    background: url('../assets/img/qm.png') no-repeat;
    background-size: 60px 60px;
    transform: rotate(0);
}


.itens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid lightsteelblue;
    box-shadow: 2px 2px 2px lightsteelblue;
    border-radius: 10px;
    color: lightsteelblue;
    transition: all .2s ease;    
    background: white;
}



footer{
    background: #0091C2;
    width: 100%;
    margin-top: 20px;
    height: 80px;
    padding-top: 20px;
    box-sizing: border-box;
}

#pibCalculator{
    display: flex;
    height: 100%;
}

#itemList{
    width: 25%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
}

#itemList .list{
    overflow-y: scroll;
    flex-grow: 1;
    margin-bottom: 20px;
    padding-right: 10px;
}

#itemList .item{
    display: flex;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: default;
}

#itemList .item:hover{
    background: white;
    color: #0091C2;
}

#plot{
    height: 100%;
}

.modal-label{
    margin-right: 20px;
}

#yearList{
    width: 40%;
    min-width: 200px;
    display: flex;
    margin-left: 50px;
    justify-content: flex-end;
    overflow: hidden;
}

#yearList .yearValues{
    overflow-y: scroll;
    flex-grow: 1;
}

#yearList .item{
    display: flex;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

#yearList .yearOptions{
    padding: 0 20px;
    border-left: 1px solid lightsteelblue;
}
#yearList .yearOptions .year:first-child{
    margin-top: 10px;
}

#yearList .yearOptions .year{
    margin-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid lightsteelblue;
}

#yearList .yearItem div {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
}

#yearList .yearItem input{
    margin-left: 10px;
}

.selectedYear{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    padding: 15px;
}

.selectedYear .yearValues{
    padding-right: 10px;
    margin-bottom: 20px;
}

.yearInfo span{
    display: block;
}

.yearInfo span:last-child{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#yearData{
    margin-left: 50px;
    width: 30%;
    box-sizing: border-box;
    padding: 15px;
}

#yearData .title{
    margin-bottom: 30px;
}

#yearData .line{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightsteelblue;
}

#yearData .line span{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
    white-space: nowrap;
}

.hidden{
    display: none !important;
    overflow: hidden;
}

.pnb.plot{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.pnb .country{
    width: 48%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
}

.pnb .countryName{
    margin-bottom: 20px;
}

.pnb .totals{
    margin-top: 20px;
}

.pnb .addCompany{
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.pnb .companyList{
    width: 100%;
    padding-right: 10px;
    border-collapse:collapse;
}

.pnb .companyList th{
    font-weight: 400;
}
.pnb .companyList td{
    word-wrap: break-word;
    max-width: 120px;
    padding-bottom: 10px;
}

.pnb .companyList tr:nth-child(2n){
    background: lightsteelblue;
    color: white;
}

.pnb .companyList select, .pnb .companyList input{
    width: 80%;
}

.pnb .countryData{
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
}

.inflacao table{
    width: 100%;
}

.inflacao tr{
    margin-bottom: 20px;
}

.flemingContent{
    display: flex;
}
.flemingContent .canvas{
    flex-grow: 1;
    display: flex;
}

.flemingContent .canvas .content{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 50px;
    flex-direction: column;
    width: 40%;
}

.flemingContent .canvas .content .actions{
    flex-grow: 1;
}

.flemingContent .canvas .content .results{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.flemingContent .canvas .content .results .resultItem{
    width: 120px;
    margin-top: 50px;
    margin-right: 10px;
    padding-top: 10px;
}

.flemingContent .options{
    display: flex;
    flex-direction: column;
}

.flemingContent .options .flemingItem{
    margin-bottom: 8px;
    padding: 0 20px;
    cursor: pointer;
    transition: all .2s ease;    
}

.flemingContent .canvas .flemingView{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.flemingView{
    background: url('../assets/img/inicial.png');
}
.flemingView.inicial{
    background: url('../assets/img/inicial.png');
}
.content .resultItem{
    background: white;
}
.flemingView.lm{
    background: url('../assets/img/lm.png');
}
.flemingView.ls{
    background: url('../assets/img/ls.png');
}
.flemingView.bp{
    background: url('../assets/img/bp.png');
}

.flemingView.expM{
    background: url('../assets/img/monetaria.png');
}
.flemingView.expF{
    background: url('../assets/img/fiscal.png');
}
.content.expF .resultItem.y{
    border-color: #AFD297;
    color: white;
    background: #AFD297;
    box-shadow: none;
}
.flemingView.imp{
    background: url('../assets/img/import.png');
}
.content.imp .resultItem.y, .content.imp .resultItem.nx{
    border-color: #AFD297;
    color: white;
    background: #AFD297;
    box-shadow: none;
}

.flemingView.expM.floating{
    background: url('../assets/img/monetariaf.png');
    background-size: 450px 400px;
}
.content.expM.floating .resultItem.e{
    border-color: #E1A18E;
    color: white;
    background: #E1A18E;
    box-shadow: none;
}
.content.expM.floating .resultItem.nx, .content.expM.floating .resultItem.y{
    border-color: #AFD297;
    color: white;
    background: #AFD297;
    box-shadow: none;
}
.flemingView.expF.floating{
    background: url('../assets/img/fiscalf.png');
    background-size: 450px 400px;
}
.content.expF.floating .resultItem.y{
    background: white;
    border: 1px solid lightsteelblue;
    box-shadow: 2px 2px 2px lightsteelblue;
    color: lightsteelblue;
}
.content.expF.floating .resultItem.e{
    border-color: #AFD297;
    color: white;
    background: #AFD297;
    box-shadow: none;
}
.content.expF.floating .resultItem.nx{
    border-color: #E1A18E;
    color: white;
    background: #E1A18E;
    box-shadow: none;
}
.flemingView.imp.floating{
    background: url('../assets/img/importf.png');
    background-size: 450px 400px;
}
.content.imp.floating .resultItem.e{
    border-color: #AFD297;
    color: white;
    background: #AFD297;
    box-shadow: none;
}
.content.imp.floating .resultItem.y, .content.imp.floating .resultItem.nx{
    background: white;
    border: 1px solid lightsteelblue;
    box-shadow: 2px 2px 2px lightsteelblue;
    color: lightsteelblue;
}